# Purpose
After filtering out the spammers, we can now work on the weibo data. The goal of this purpose is to study users with foreign API.

In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('normal_all2')
print len(df)
df.head()

892539

,hashtag_count,mention_count,text,time,url_count,userid
0,0,0,冷言冷语。。。继续。。。这样很好。。。,2012-09-03 00:03:19,0,uWWBCGJE4
1,0,1,傻子 过去就过去了 越想只会让自己 越来越TM看不起自己 恨自己不是吗？有什么了不起的 人不...,2012-09-03 00:04:12,0,u1O52TEBM
2,0,0,闲来无事，想破人QQ空间密码，于是点击了一个美女的空间，提问：“请问男生最喜欢什么花！”我暗...,2012-09-03 00:02:10,0,u0AGHHPXK
3,0,0,北京今天，泛起秋意。,2012-09-03 00:07:36,0,uVGJLC4S5
4,0,2,@_@,2012-09-03 02:09:32,0,uATZPTH53

# Oversea users

In [3]:
f1 = open('oversea_users.csv')
csv_f1 = csv.reader(f1)

oversea = []
for row in csv_f1:
    oversea.append(row[0])
    
oversea[:4]

['uQZ0ZT0QG', 'uVEQW3AIG', 'uVGJLOI2R', 'uYC335VVO']

In [4]:
oversea_user_set = set(oversea)
print len(oversea_user_set)

26010

In [5]:
is_oversea = []
for index, row in df.iterrows():
    if row['userid'] in oversea_user_set:
        is_oversea.append(1)
    else:
        is_oversea.append(0)
df['is_oversea'] = is_oversea
print len(df)
df.head()

892539

,hashtag_count,mention_count,text,time,url_count,userid,is_oversea
0,0,0,冷言冷语。。。继续。。。这样很好。。。,2012-09-03 00:03:19,0,uWWBCGJE4,0
1,0,1,傻子 过去就过去了 越想只会让自己 越来越TM看不起自己 恨自己不是吗？有什么了不起的 人不...,2012-09-03 00:04:12,0,u1O52TEBM,1
2,0,0,闲来无事，想破人QQ空间密码，于是点击了一个美女的空间，提问：“请问男生最喜欢什么花！”我暗...,2012-09-03 00:02:10,0,u0AGHHPXK,0
3,0,0,北京今天，泛起秋意。,2012-09-03 00:07:36,0,uVGJLC4S5,0
4,0,2,@_@,2012-09-03 02:09:32,0,uATZPTH53,0

In [ ]:
#df.save_cvs
df.to_csv('all_normal', encoding='utf-8', index=False)
#df10 = pd.read_csv('alldata')

# Check oversea users among all users

## User as the unit analysis (Aggregate data based on the same user id)

In [17]:
df_user = pd.DataFrame()
df_user['weibo_count'] = df.groupby(['userid']).size()
df_user['url_mean'] = df.groupby(['userid'])['url_count'].mean()
df_user['mention_mean'] = df.groupby(['userid'])['mention_count'].mean()
df_user['hashtag_mean'] = df.groupby(['userid'])['hashtag_count'].mean()

In [20]:
print len(df_user)
print df_user.head()
df_user = df_user.reset_index()
print df_user.head()

84560
           weibo_count  url_mean  mention_mean  hashtag_mean
userid
u02HI3WUO           90  0.000000      0.000000      0.000000
u02HIC5JL         1350  0.055556      1.444444      0.044444
u02HICM0L          390  0.076923      1.346154      0.000000
u02HIEXCF            2  0.000000      2.500000      0.500000
u02HIFZWV          135  0.000000      2.333333      0.000000
      userid  weibo_count  url_mean  mention_mean  hashtag_mean
0  u02HI3WUO           90  0.000000      0.000000      0.000000
1  u02HIC5JL         1350  0.055556      1.444444      0.044444
2  u02HICM0L          390  0.076923      1.346154      0.000000
3  u02HIEXCF            2  0.000000      2.500000      0.500000
4  u02HIFZWV          135  0.000000      2.333333      0.000000

In [21]:
is_oversea = []
for index, row in df_user.iterrows():
    if row['userid'] in oversea_user_set:
        is_oversea.append(1)
    else:
        is_oversea.append(0)
print len(is_oversea)
print is_oversea[:10]

84560
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [24]:
df_user['is_oversea'] = is_oversea
df_user.head()

      userid  weibo_count  url_mean  mention_mean  hashtag_mean  is_oversea
0  u02HI3WUO           90  0.000000      0.000000      0.000000           0
1  u02HIC5JL         1350  0.055556      1.444444      0.044444           0
2  u02HICM0L          390  0.076923      1.346154      0.000000           0
3  u02HIEXCF            2  0.000000      2.500000      0.500000           0
4  u02HIFZWV          135  0.000000      2.333333      0.000000           0

In [27]:
oversea_df = df_user[df_user['is_oversea'] == 1]
print 'Total number of oversea users in this weekly weibo data is 15447'
print 'After filtering spammers, the number is', len(oversea_df)

Total number of oversea users in this weekly weibo data is 15447
After filtering spammers, the number is 9466